# ILI9486 Panel Driver
CONFIG_ILI9486_SPI_HOST=1
CONFIG_ILI9486_PIN_MOSI=23
CONFIG_ILI9486_PIN_MISO=-1
CONFIG_ILI9486_PIN_CLK=18
CONFIG_ILI9486_PIN_CS=5
CONFIG_ILI9486_PIN_DC=21
CONFIG_ILI9486_PIN_RST=22
CONFIG_ILI9486_PIN_BL=4
CONFIG_ILI9486_PIXEL_CLK_HZ=5000000
CONFIG_ILI9486_H_RES=320
CONFIG_ILI9486_V_RES=480
